<label for="input-{{item._id}}" class="item {{#iff item.selected "==" 1 }}selected{{/iff}}" data-item-key={{item._id}}>
    <button class="item-roll-button"><i class="fa fa-dice-d20"></i></button>
    <span class="item-value">
        <span class="item-label">
            {{item.name}}
            <span class="item-tooltip">
                {{{item.tooltip}}}
            </span>
        </span>
        <span class="input-min-{{min}}">
            {{#times (calc max "-" min)}}
                {{#iff (calc @index "+" ../min) "==" ../item.value}}
                    <input name="data.values.{{../item._id}}" type="radio" title={{calc @index "+" ../min}} value={{calc @index "+" ../min}} checked="checked">
                    <svg width=12 height=12>
                        <circle cx=6 cy=6 r=5 />
                        <line x1="3" y1="3" x2="9" y2="9" stroke="none" />
                        <line x1="9" y1="3" x2="3" y2="9" stroke="none" />
                    </svg>
                {{/iff}}
                {{#iff (calc @index "+" ../min) "!=" ../item.value}}
                    <input name="data.values.{{../item._id}}" type="radio" title={{calc @index "+" ../min}} value={{calc @index "+" ../min}}>
                    <svg width=12 height=12>
                        <circle cx=6 cy=6 r=5 fill=none />
                        <line x1="3" y1="3" x2="9" y2="9" stroke="none" />
                        <line x1="9" y1="3" x2="3" y2="9" stroke="none" />
                    </svg>
                {{/iff}}
            {{/times}}
        </span>
    </span>
    <button class="item-delete-button"><i class="fa fa-trash"></i></button>
</label>
