<label for="input-{{id}}-{{key}}">
    <span>
        {{localize label}}
    </span>
    <span>
        {{#times max}}
        {{#iff @index "==" ../value}}
        <input name="{{../prefix}}.{{../key}}.value" type="radio" title={{@index}} value={{@index}} data-dtype="Number" checked="checked">
        <span></span>
        {{/iff}}
        {{#iff @index "!=" ../value}}
        <input name="{{../prefix}}.{{../key}}.value" type="radio" title={{@index}} value={{@index}} data-dtype="Number">
        <span></span>
        {{/iff}}
        {{/times}}
    </span>
</label>
