<label for="input-{{id}}-{{key}}" class="item" data-item-label="{{localize label}}">
    <button class="{{type}}-roll-button"><i class="fa fa-dice-d20"></i></button>
    <span>
        <span class="{{type}}-label">
            {{localize label}}
        </span>
        <span class="input-min-{{min}}">
            {{#times (calc max "-" min)}}
            {{#iff (calc @index "+" ../min) "==" ../value}}
            <input name="{{../prefix}}.{{../key}}.value" type="radio" title={{calc @index "+" ../min}} value={{calc @index "+" ../min}} data-dtype="Number" checked="checked">
            <span></span>
            {{/iff}}
            {{#iff (calc @index "+" ../min) "!=" ../value}}
            <input name="{{../prefix}}.{{../key}}.value" type="radio" title={{calc @index "+" ../min}} value={{calc @index "+" ../min}} data-dtype="Number">
            <span></span>
            {{/iff}}
            {{/times}}
        </span>
    </span>
</label>
