<label for="input-{{id}}-{{key}}" class="item" data-item-label="{{localize label}}">
    <button class="{{type}}-roll-button"><i class="fa fa-dice-d20"></i></button>
    <span>
        <span class="{{type}}-label">
            {{localize label}}
        </span>
        <span>
            {{#times max}}
            {{#iff @index "==" ../value}}
            <input name="{{../prefix}}.{{../key}}.value" type="radio" title={{@index}} value={{@index}} data-dtype="Number" checked="checked">
            <span></span>
            {{/iff}}
            {{#iff @index "!=" ../value}}
            <input name="{{../prefix}}.{{../key}}.value" type="radio" title={{@index}} value={{@index}} data-dtype="Number">
            <span></span>
            {{/iff}}
            {{/times}}
        </span>
    </span>
</label>
