<form class="{{cssClass}} row" autocomplete="off">
	<div class="sheet-window">
		<nav class="sheet-tabs tabs" data-group="primary">
			<a class="item" data-tab="general">General</a>
			<a class="item" data-tab="attributes">{{localize "SHEET.ATTRIBUTES"}}</a>
		</nav>

		<section class="sheet-body">
			<div class="tab general" data-group="primary" data-tab="general">
				<div class="primary">
					<div class="sheet-header-big">
						<h2>General</h2>
					</div>
					<div class="row">
						<div class="primary-column">
							<label>
								<h3>{{localize "CHAR.NAME"}}:</h3>
								<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CHAR.NAME'}}"/>
							</label>
							<label>
								<h3>{{localize "CHAR.PLAYER"}}:</h3>
								<input name="data.player" type="text" value="{{data.data.player}}" placeholder="{{localize 'CHAR.PLAYER'}}"/>
							</label>
							<label>
								<h3>{{localize "CHAR.CHRONICLE"}}:</h3>
								<input name="data.chronicle" type="text" value="{{data.data.chronicle}}" placeholder="{{localize 'CHAR.CHRONICLE'}}"/>
							</label>
						</div>
						<div class="primary-column">
							<label>
								<h3>{{localize "CHAR.NATURE"}}:</h3>
								<input name="data.nature" type="text" value="{{data.data.nature}}" placeholder="{{localize 'CHAR.NATURE'}}"/>
							</label>
							<label>
								<h3>{{localize "CHAR.DEMEANOR"}}:</h3>
								<input name="data.demeanor" type="text" value="{{data.data.demeanor}}" placeholder="{{localize 'CHAR.DEMEANOR'}}"/>
							</label>
							<label>
								<h3>{{localize "CHAR.CONCEPT"}}:</h3>
								<input name="data.concept" type="text" value="{{data.data.concept}}" placeholder="{{localize 'CHAR.CONCEPT'}}"/>
							</label>
						</div>
						<div class="primary-column">
							<label>
								<h3>{{localize "CHAR.CLAN"}}:</h3>
								<input name="data.clan" type="text" value="{{data.data.clan}}" placeholder="{{localize 'CHAR.CLAN'}}"/>
							</label>
							<label>
								<h3>{{localize "CHAR.GENERATION"}}:</h3>
								<input name="data.generation" type="text" value="{{data.data.generation}}" placeholder="{{localize 'CHAR.GENERATION'}}"/>
							</label>
							<label>
								<h3>{{localize "CHAR.SIRE"}}:</h3>
								<input name="data.sire" type="text" value="{{data.data.sire}}" placeholder="{{localize 'CHAR.SIRE'}}"/>
							</label>
						</div>
					</div>

					<div class="sheet-header-big">
						<h2>Biography</h2>
					</div>
					<div class="sheet-biography">
						{{{data.data.biography}}}
					</div>
					<div style="flex: 1; width: 100%">
						{{editor content=data.data.biography target="data.biography" button=true owner=owner editable=editable}}
					</div>
				</div>
			</div>

			<div class="tab attributes" data-group="primary" data-tab="attributes">
				<div class="primary">
					<div class="sheet-header-big">
						<h2>{{localize "SHEET.ATTRIBUTES"}}</h2>
					</div>
					<div class="row">
						<div class="column">
							<h4>{{localize "SHEET.PHYSICAL"}}</h4>
							<ul>
								{{#each data.physical as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
						<div class="column">
							<h4>{{localize "SHEET.SOCIAL"}}</h4>
							<ul>
								{{#each data.social as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
						<div class="column">
							<h4>{{localize "SHEET.MENTAL"}}</h4>
							<ul>
								{{#each data.mental as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
					</div>

					<div class="sheet-header-big">
						<h2>{{localize "SHEET.ABILITIES"}}</h2>
					</div>
					<div class="row">
						<div class="column">
							<h4>{{localize "SHEET.TALENTS"}}</h4>
							<ul>
								{{#each data.talent as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
						<div class="column">
							<h4>{{localize "SHEET.SKILLS"}}</h4>
							<ul>
								{{#each data.skill as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
						<div class="column">
							<h4>{{localize "SHEET.KNOWLEDGES"}}</h4>
							<ul>
								{{#each data.knowledge as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
					</div>

					<div class="sheet-header-big">
						<h2>{{localize "SHEET.ADVANTAGES"}}</h2>
					</div>
					<div class="row">
						<div class="column">
							<h4>{{localize "SHEET.DISCIPLINES"}}</h4>
							<ul class="item-list">
								{{#each data.discipline as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
						<div class="column">
							<h4>{{localize "SHEET.BACKGROUNDS"}}</h4>
							<ul class="item-list">
								{{#each data.background as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
						<div class="column">
							<h4>{{localize "SHEET.VIRTUES"}}</h4>
							<ul class="item-list">
								{{#each data.virtue as |item key|}}
									<li class="radio-input"> 
										{{> systems/foundryvtt-vtm-20th/templates/item-input.html item=item min=0 max=5}}
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="sheet-sidebar primary">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
		<p class="actor-name">{{actor.name}}</p>
		<div class="primary-column">
			<p class="actor-char">
				<span>{{localize "CHAR.NATURE"}}:</span>
				<span>{{data.nature}}</span>
			</p>
			<p class="actor-char">
				<span>{{localize "CHAR.DEMEANOR"}}:</span>
				<span>{{data.demeanor}}</span>
			</p>
			<p class="actor-char">
				<span>{{localize "CHAR.CONCEPT"}}:</span>
				<span>{{data.concept}}</span>
			</p>
		</div>
	</div>

</form>
