<label for="input-{{item._id}}" class="item {{#iff item.selected "==" true }}selected{{/iff}}" data-item-key={{item._id}}>
    <button class="item-roll-button"><i class="fa fa-dice-d20"></i></button>
    <span class="item-value">
        <span class="item-label">
            {{item.name}}
        </span>
        <span class="input-min-{{min}}">
            {{#times (calc max "-" min)}}
                {{#iff (calc @index "+" ../min) "==" ../item.value}}
                    <input name="data.values.{{../item._id}}" type="radio" title={{calc @index "+" ../min}} value={{calc @index "+" ../min}} checked="checked">
                    <span></span>
                {{/iff}}
                {{#iff (calc @index "+" ../min) "!=" ../item.value}}
                    <input name="data.values.{{../item._id}}" type="radio" title={{calc @index "+" ../min}} value={{calc @index "+" ../min}}>
                    <span></span>
                {{/iff}}
            {{/times}}
        </span>
    </span>
    <button class="item-delete-button"><i class="fa fa-trash"></i></button>
</label>
