<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h2 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
        </div>
    </header>

    <section>
        <h2>Description</h2>
        <div class="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>

    <section>
        <h2>Tooltip</h2>
        <div class="description">
            {{editor content=data.tooltip target="data.tooltip" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
